body{
    background-color: black;
}
form{
    margin: 2% auto;
    width: 250px;
}
.container .row{
    background-color: black;
}

.col-md-2 {
    height: 200px;
    padding: 0.5%;
}

.col-md-2 img {
    height: 100%;
    width: 100%;
}

/* xs */
@media(max-width:768px) {
    .col-xs-12{
        padding: 2%;
    }
}